/* ---------------------------------
   Font Settings
--------------------------------- */

@font-face {
  font-family: 'Tmoney RoundWind';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tmoney RoundWind';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal; 
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* ---------------------------------
   Base Font Assignments
--------------------------------- */

body, .built-with, .vp-footer .copyright,
.vp-sidebar, .vp-sidebar-item {
  font-family: 'Pretendard';
}

p, li, table {
  font-family: 'Tmoney RoundWind';
}

pre, code, div[class*='language-'] {
  font-family: 'goorm-sans-code', consolas, monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  border: none;
}

pre {
  border: 1px solid;
  border-color: #555;
}

/* ---------------------------------
   Base Style Overrides
--------------------------------- */

.vp-page [vp-content] {
  padding: 0 1rem;
}

.hint-container {
  margin: 0;
}

.vp-navbar {
  position: absolute;
  display: flex;
  align-items: center;
}

.vp-toggle-sidebar-button {
  top: 50%;
  transform: translateY(-50%);
}

.vp-navbar .vp-site-logo {
  position: absolute;
  left: 50%;
  height: 28px;
  transform: translate(-50%, -50%);
}

:root {
  --navbar-height: 3rem;
  --code-c-line-number: #888;
  --copy-code-c-hover: transparent;
  --code-c-text: --vp-c-text;
}

.vp-copy-code-button {
  background: var(--vp-c-bg) !important;
  border: 1px solid;
  border-color: #555;
}

img {
  border-radius: 6px;
}

.tech-logos img {
  border-radius: 0;
}

.theme-default-content h2 {
  border-bottom: 1px solid var(--vp-c-gutter);
}

a.header-anchor::before {
  content: "#";
  top: 0.2rem;
  left: -0.65em;
  font-size: 0.75em;
}

th, td {
  padding: .3em .5em;
}

/* ---------------------------------
   Footer and Meta Area
--------------------------------- */

.vp-footer {
  max-width: 740px;
  padding: 1rem 0;
  margin: 0 !important;
}

.vp-page-meta,
.vp-page-nav {
  display: none;
}

/* ---------------------------------
   Color Variables
--------------------------------- */


:root {
  --vp-c-gutter: #aaa;
  --vp-c-accent: #fc6525;
  --vp-c-accent-bg: #fc6525;
  --code-c-bg: transparent;
}

html[data-theme='dark'] {
  --vp-c-gutter: #444;
  --vp-c-text: #ddd;
}

table {
  --vp-c-bg-alt: transparent;
}

div[class*='language-'].line-numbers-mode:after {
  border: none;
}

html[data-theme='light'] div[class*='language-'] span.token {
  filter: invert(1) hue-rotate(180deg);
  display: inline-block;
}

/* ---------------------------------
   Responsive (Mobile)
--------------------------------- */

@media (max-width: 419px) {
  #content > .vp-code-tabs .vp-code-tabs-nav,
  pre,
  div[class^="language-"] {
    margin-inline: -1rem !important;
  }

  div[class*=language-].line-numbers-mode pre {
    margin-left: 3rem !important;
    margin-right: 0 !important;
  }
}

.vp-sidebar {
  top: 0;
  padding-top: calc(var(--navbar-height) - 1rem);
}

@media (max-width: 1060px) {
  .vp-sidebar {
    transform: translateX(-100%);
  }

  .sidebar-open .vp-sidebar {
    transform: translateX(0);
  }

  .vp-toggle-sidebar-button {
    display: block;
  }

  .vp-page {
    padding-inline-start: 0;
  }
}

/* ---------------------------------
   Print Settings
--------------------------------- */

@media print {
  @page {
    size: auto;
  }

  :root {
    --navbar-height: 0;
    --vp-c-text: #000;
  }

  .vp-navbar,
  .vp-sidebar,
  .vp-page-nav,
  .vp-footer,
  .vp-footer-wrapper {
    display: none;
  }

  .vp-page {
    padding: 0;
  }

  [vp-content] h2, [vp-content] h3, [vp-content] h4, [vp-content] h5, [vp-content] h6 {
      padding-bottom: 0rem;
      margin-bottom: 0rem;
  }

  [vp-content] h1, [vp-content] h2 {
      margin-top: 1.5rem;
  }
}