/* ---------------------------------
   Font Settings
--------------------------------- */

@font-face {
  font-family: 'Tmoney RoundWind';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tmoney RoundWind';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'goorm-sans-code';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-code.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* ---------------------------------
   Base Font Assignments
--------------------------------- */

body, .built-with, .vp-footer .copyright,
.vp-sidebar, .vp-sidebar-item {
  font-family: 'Pretendard';
}

p, li, table {
  font-family: 'Tmoney RoundWind';
}

pre, code, div[class*='language-'] {
  font-family: 'goorm-sans-code', consolas, monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

/* ---------------------------------
   Base Style Overrides
--------------------------------- */

.vp-page [vp-content] {
  padding: 0 1rem;
}

.hint-container {
  margin: 0;
}

.vp-navbar .vp-site-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.vp-site-name {
  padding: 0;
}

img {
  border-radius: 6px;
}

.tech-logos img {
  border-radius: 0;
}

.theme-default-content h2 {
  border-bottom: 1px solid var(--vp-c-gutter);
}

a.header-anchor::before {
  content: "#";
  top: 0.2rem;
  left: -0.65em;
  font-size: 0.75em;
}

/* ---------------------------------
   Footer and Meta Area
--------------------------------- */

.vp-footer {
  max-width: 740px;
  padding: 1rem 0;
  margin: 0 !important;
}

.vp-page-meta,
.vp-page-nav {
  display: none;
}

/* ---------------------------------
   Color Variables
--------------------------------- */

:root {
  --vp-c-gutter: #aaa;
  --vp-c-text: #333;
  --vp-c-accent: #fc6525;
  --vp-c-accent-bg: #fc6525;
  --code-c-bg: #223;
}

html[data-theme='dark'] {
  --vp-c-gutter: #444;
  --vp-c-text: #ddd;
}

table {
  --vp-c-bg-alt: transparent;
}

/* ---------------------------------
   Responsive (Mobile)
--------------------------------- */

@media (max-width: 419px) {
  #content > .vp-code-tabs .vp-code-tabs-nav,
  pre,
  div[class^="language-"] {
    margin-inline: -1rem !important;
  }

  div[class*=language-].line-numbers-mode pre {
    margin-left: 3rem !important;
    margin-right: 0 !important;
  }
}

@media (max-width: 1060px) {
  .vp-sidebar {
    transform: translateX(-100%);
  }

  .sidebar-open .vp-sidebar {
    transform: translateX(0);
  }

  .vp-toggle-sidebar-button {
    display: block;
  }

  .vp-page {
    padding-inline-start: 0;
  }
}

/* ---------------------------------
   Print Settings
--------------------------------- */

@media print {
  @page {
    size: auto;
  }

  .vp-navbar,
  .vp-sidebar,
  .vp-page-nav,
  .vp-footer,
  .vp-footer-wrapper {
    display: none;
  }

  .vp-page {
    padding: 0;
  }

  div[class*='language-'] pre code {
    color: #333;
  }

  div[class*='language-'].line-numbers-mode pre {
    display: block;
    border-color: var(--vp-c-accent);
  }

  div[class*='language-'].line-numbers-mode:after {
    border: none;
  }
}